@import url("https://fonts.cdnfonts.com/css/manjari-2");

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 2rem;
  font-family: "Manjari", sans-serif;
  color: white;
  font-weight: 400;
  text-align: center;
  background: #659dbd;
  min-height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
}
section,
#home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
}
#home p {
  text-align: center;
  margin-top: -0.5rem;
}
section article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
section a {
  text-decoration: none;
  font-style: italic;
  transition: all linear 0.8s;
}
h1 {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 3rem;
  text-align: center;
  color: #fbeec1;
}
header {
  display: flex;
  justify-content: center;
  align-items: end;
  margin: 0 auto;
}
nav {
  display: flex;
  align-items: center;
  justify-content: end;
  transition: all linear 0.3s;
}
.hide_nav {
  height: 0;
}

.show_nav {
  height: 573px;
}
.btn-wrapper {
  min-height: 3rem;
  display: flex;
  padding: 2rem;
}
#nav_btn {
  background-color: #daad86;
  color: white;
  border: 5px solid #daad86;
  border-radius: 20%;
  padding: 0.3rem;
  cursor: pointer;
  transition: all linear 0.5s;
}
.nav_link {
  color: #fbeec1;
}
#nav_btn:hover {
  transform: scale(1.5);
  background-color: #daad86;
  color: #fbeec1;
}
nav a {
  text-decoration: none;
}
nav a:hover {
  text-decoration: underline;
}

.nav-items {
  min-width: 100%;
  text-align: center;
  margin-left: 15rem;
  margin-top: -2rem;
}

.show_items {
  display: block;
}
.hide_items {
  display: none;
}
.item {
  margin: 2rem;
  padding-top: 1rem;
  border-top: 2px solid #fbeec1;
  font-size: 2rem;
}
header h1 {
  text-align: center;
  font-style: italic;
  letter-spacing: 0.2rem;
  margin-top: -2rem;
}
header #portfolio {
  font-size: 2.8rem;
  line-height: 2;
  letter-spacing: 0.5rem;
  animation: portfolio-animation 10s ease infinite;
}

#name,
#email,
#message {
  margin: 1rem;
  padding: 1rem;
  border: 1px solid #daad86;
}

#message {
  padding: 3rem 1rem;
}

footer a {
  color: #fbeec1;
}
@keyframes portfolio-animation {
  10% {
    color: #fbeec1;
    letter-spacing: 5px;
  }

  35% {
    color: #bc986a;
    letter-spacing: 5px;
  }

  60% {
    color: #daad86;
    letter-spacing: 5px;
  }

  85% {
    color: #fbeec1;
    letter-spacing: 5px;
  }

  0%,
  25%,
  50%,
  75%,
  100% {
    letter-spacing: 0;
  }
}

#about img {
  width: 15rem;
  border-radius: 50%;
  border: 5px solid #daad86;
}
#about h1 {
  margin: 2rem auto;
}
#about h2 {
  text-align: center;
  font-style: italic;
  color: #fbeec1;
}

.contact_btn {
  margin: 2rem auto;
}
#about a,
.btn {
  background-color: #daad86;
  color: white;
  text-transform: uppercase;
  padding: 1rem;
  font-size: 2rem;
  margin-top: 2rem;
  cursor: pointer;
  transition: all linear 1s;
}
#about a:hover,
.btn:hover,
.github_link:hover {
  background-color: #fbeec1;
  color: #daad86;
}
.btn {
  margin-bottom: 3rem;
}

#icons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: -2rem;
  align-items: center;
  justify-content: center;
}
.icon {
  font-size: 7rem;
  margin: 0 3rem;
  list-style-type: none;
  color: #fbeec1;
}
.icon p {
  text-align: center;
  margin-top: -0.5rem;
}

#skills span {
  font-size: 3rem;
  font-weight: bold;
  color: #fbeec1;
}
.work_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.work_wrapper div {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin: 2rem;
  max-width: 50vw;
}
#my_work div img {
  width: 15rem;
  height: 15rem;
  border-radius: 2rem;
  margin-bottom: 1rem;
  border: 3px solid #fbeec1;
  padding: 0.5rem;
}
#my_work div a {
  border-radius: 2rem;
  border: 2px solid #daad86;
  margin: 0.5rem;
  padding: 1rem;
  text-decoration: none;
}
.github_link {
  background-color: #daad86;
  color: white;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form input,
#message {
  font-size: 1.5rem;
  padding: 1rem;
  margin: 1rem 0;
}

.form_info {
  text-align: center;
}

#sent_btn {
  border: 1px solid #daad86;
}
#social_icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}

#social_icons div {
  margin: 1rem;
}

#social_icons div a {
  font-size: 5rem;
  color: white;
}

#social_icons div a:hover {
  color: #daad86;
}

footer {
  display: flex;
  justify-content: center;
  margin-top: auto;
  width: 100%;
}
footer a {
  text-decoration: none;
  font-weight: bold;
}

#dashboard {
  align-items: center;
}

#info_messages {
  text-align: center;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.buttons button {
  margin: 1rem;
}

#dashboard_btn {
  width: 30%;
}

#username,
#password {
  padding: 1rem;
  margin: 1rem;
  border: 1px solid #daad86;
}

#login_btn {
  border: 1px solid #daad86;
}

textarea {
  resize: none;
}

#logout_btn {
  border: 1px solid #daad86;
}

#provideName,
#provideEmail,
#provideMessage {
  color: rgb(124, 23, 23);
  font-size: 1.5rem;
}
@media screen and (min-width: 500px) {
  header #portfolio {
    font-size: 4rem;
  }
}

@media screen and (min-width: 860px) {
  nav {
    min-height: 5rem;
    margin: 1rem 0;
    margin-top: -5rem;
    margin-bottom: 2rem;
  }
  .nav-items {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }
  header {
    align-items: center;
  }
  .item {
    border: none;
  }

  #nav_btn {
    display: none;
  }
  .home_content {
    max-width: 740px;
  }
  #about {
    display: flex;
    align-items: center;
  }
  .about_info {
    display: flex;
    flex-direction: row;
    max-width: 994px;
  }

  .about_info article {
    margin: 2rem;
  }
  .contact_btn {
    margin-top: -2rem;
  }
  #skills {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .skills-container {
    max-width: 760px;
  }
  #my_work {
    display: flex;
  }
  .work_wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 900px) {
  .contact-form {
    display: flex;
    justify-content: center;
    align-items: start;
  }
  .contact-form article {
    margin: 3rem;
  }
  #social_icons {
    margin-top: 0;
  }
}
/* @media screen and (min-width: 1440px) {
  background-image: url("/");
} */
