<section id="about">
  <!-- info from Linkedin -->
  <h1>Who is Milica</h1>
  <article class="about_info">
    <article>
      <img src="../img/photo_01.jpg" alt="portfolio photo" />
      <h2>
        A curiosity and motivated student, with A lot of passion for technology
        and learning new skills.
      </h2>
    </article>
    <article>
      <p>
        I am responsible and motivated person about learning web development. I
        am focusing constantly on gain new skills which can help me in my
        learning journey. I am willing to embark on new adventures, take new
        challenges, and get as deep as I can in the world of technology.
      </p>
      <p>
        My education backgroung is BA in Criminology from Fakulty of Security,
        Macedonia. My love with coding began as a simple curiosity about how
        websites were built. Looking ahead, my passion for web development
        inspire me to continue learning, and pushing the boundaries of what's
        possible.
      </p>
      <p>
        I am filled with an overwhelming sense of gratitude and happiness for
        the path I've chosen.
      </p>
    </article>
  </article>
  <div class="contact_btn" id="contact_me" onclick="contactMe()">
    <a href="#contact">contact me</a>
  </div>
</section>
