<section id="about">
  <!-- info from Linkedin -->
  <h1>Who is Milica</h1>
  <article class="about_info">
    <article>
      <img src="../img/photo_01.jpg" alt="portfolio photo" />
      <h2>
        A curiosity and motivated person, with A lot of passion for technology
        and learning new skills.
      </h2>
    </article>
    <article>
      <p>
        I am responsible and motivated person about learning web development. I
        am focusing constantly on gain new skills which can help me in my
        learning journey. I 'm willing to embark on new adventures, take new
        challenges, and get as deep as I can in the world of technology.
      </p>
      <p>
        I've been diving into web development since 2021, learning new skills
        and staying focused on growing every day. Even though I started from
        scratch, I'm proud of how much I've learned and I'm determined to keep
        learning in this field. Before getting into development, my background
        was in a different field, but my love for technology has always been
        there. I'm grateful I took the leap into web development—it's been an
        awesome decision. Outside of tech, I graduated with a Bachelor's degree
        in Criminalistics. I speak Spanish and English fluently, and I have
        basic understanding on German. I'm also really passionate about
        children's rights and doing what I can to make a positive impact in
        their lives.
      </p>
      <p>
        I am filled with an overwhelming sense of gratitude and happiness for
        the path I've chosen.
      </p>
    </article>
  </article>
  <div class="contact_btn" id="contact_me" onclick="contactMe()">
    <a href="#contact">contact me</a>
  </div>
</section>
