<section id="admin">
  <article>
    <h1>Login to Dashboard</h1>
  </article>
  <article>
    <p id="wrong_login"></p>
    <form class="form">
      <label for="username">Login with username:</label>
      <input type="text" placeholder="username" id="username" />
    </form>
    <form class="form">
      <label for="password">Please write your password:</label>
      <input type="number" placeholder="password" id="password" />
    </form>
    <button class="btn" id="login_btn" type="submit">Login</button>
  </article>
</section>
