<section id="contact">
  <article>
    <h1>Get in touch</h1>
    <p class="form_info">
      If you have any question you can fill the form bellow. I'll answer it.
      Thank you forward for reaching me
    </p>
  </article>
  <div class="contact-form">
    <article>
      <p id="success"></p>
      <!-- <form class="form" method="POST" id="contact_form"> -->
      <label for="name">Please write your name</label>
      <input type="text" placeholder="Name" id="name" />
      <label for="email">Please write your email</label>
      <input type="email" placeholder="email" id="email" />
      <label for="message">Ask me anything</label>
      <textarea
        maxlength="100"
        rows="9"
        cols="40"
        placeholder="Please write your message"
        id="message"
      ></textarea>
      <button class="btn" id="sent_btn" onclick="sendMessage()">
        Send email
      </button>
      <!-- </form> -->
    </article>
    <article>
      <h1>contact me at the links bellow</h1>

      <article id="social_icons">
        <div>
          <a href="https://github.com/milicagareski" target="_blank">
            <i class="fa-brands fa-github"></i>
          </a>
        </div>
        <div>
          <a
            href="https://www.linkedin.com/in/milica-gareski-a32a995b/"
            target="_blank"
            ><i class="fa-brands fa-linkedin"></i
          ></a>
        </div>
        <div>
          <a href="https://mail.google.com/" target="_blank"
            ><i class="fa-solid fa-envelope"></i
          ></a>
        </div>
      </article>
    </article>
  </div>
</section>
