<header id="home">
  <section class="home_content">
    <h1 id="welcome">Hello and welcome to my</h1>
    <br />
    <h1 id="portfolio">portfolio</h1>
    <div #portfolio-info>
      <p>
        I am Milica, a student web development at FooCoding academy in Malmo,
        Sweden
      </p>
      <p>
        I'm thrilled to share with you my motivation for web development. What I
        truly like in coding is the endless potential for creativity and
        innovation.
      </p>
      <p>
        One of my favorite aspects of being a web developer is the opportunity
        to work on meaningful projects that have a real impact on people's
        lives.
      </p>
      <p>
        I'm constantly inspired by the potential that technology gives to make
        the world a better place
      </p>
    </div>
  </section>
</header>
