<section id="my_work">
  <!-- info from github -->
  <article>
    <h1>A selection of staff that I have made</h1>
    <article class="work_wrapper">
      <!-- <div>
        <img src="../img/img-01.png" alt="cv project" />
        <a
          href="https://milicagareski.github.io/FooCoding_homeworks/html-css/week01/Web%20resume/"
          target="_blank"
          >view it here</a
        >
        <a
          href="https://github.com/milicagareski/FooCoding_homeworks"
          target="_blank"
          >view github repo</a
        >
      </div>
      <div>
        <img src="../img/img-02.png" alt="homework css project" />
        <a
          href="https://milicagareski.github.io/FooCoding_homeworks/html-css/week01/Web%20resume/"
          target="_blank"
          >view it here</a
        >
        <a
          href="https://github.com/milicagareski/FooCoding_homeworks"
          target="_blank"
          >view github repo</a
        >
      </div>
      <div>
        <img src="../img/img-03.png" alt="web page project" />
        <a
          href="https://milicagareski.github.io/FooCoding_homeworks/html-css/week01/Web%20resume/"
          target="_blank"
          >view it here</a
        >
        <a
          href="https://github.com/milicagareski/FooCoding_homeworks"
          target="_blank"
          >view github repo</a
        >
      </div>
      <div>
        <img src="../img/img-04.png" alt="books project" />
        <a
          href="https://milicagareski.github.io/FooCoding_homeworks/html-css/week01/Web%20resume/"
          target="_blank"
          >view it here</a
        >
        <a
          href="https://github.com/milicagareski/FooCoding_homeworks"
          target="_blank"
          >view github repo</a
        >
      </div> -->
    </article>
  </article>
</section>
