<section id="skills">
  <div class="skills-container">
    <article>
      <!-- javascript -->
      <h1>Skills and Tools</h1>
      <p>
        Below are the technical skills that I have developed throughout my
        learning journey as a web developer.
      </p>
    </article>
    <article>
      <p>
        <span>Currently working on </span> improving my skills in vanilla
        javascript and understanding the fundamentals of React. With each line
        of code, I get the challenge of dive deeper in JavaScript's concepts and
        exploring the basics principles of React.
      </p>
    </article>
  </div>
</section>
